<%= link_to spot_path(spot.id), class: "bouton-home" do %>
  <div class='info-div'>
    <h4><%= spot.name %></h4>
    <p><%= spot.address %> </p>
    <% if spot.photos.attached? %>
      <% spot.photos.each do |illustration| %>
          <%= image_tag(illustration, class: 'photo-info') %>
      <% end %>
     <% end %>
  </div>
<% end %>
