<%= link_to spot_path(spot.id), class: 'info-links' do %>
  <div class='info-div'>
    <h4><%= spot.name %></h4>
    <p><%= spot.address %> </p>
    <% if spot.spotphotos %>
      <% spot.spotphotos.each do |photo| %>
          <%= cl_image_tag photo.photo.key, class: 'photo-info' %>
      <% end %>
     <% end %>
  </div>
<% end %>
