<div id="map", style="width: 100%; height: 100vh;", data-markers="<%= @markers.to_json %>", data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  <%= link_to "Add Spot", new_spot_path, class: "btn btn-ghost map-add-spot-btn" %>
</div>
