.spanny{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}

.spanny .spot-btn-home{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;

}
.spanny .spot-btn-home:before,
.spanny .spot-btn-home:after{
  position: absolute;
  content: "Spots";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid $orange;
  box-sizing: border-box;
  border-radius: 5px;
}
.spanny .spot-btn-home:before{
  color: #fff;
  background: $orange;
  transform: rotateY(0deg) translateZ(25px);
}
.spanny .spot-btn-home:after{
  color: #fff;
  transform: rotateX(90deg) translateZ(25px);
}
.spanny .spot-btn-home:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.spanny .shop-btn-home{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;

}
.spanny .shop-btn-home:before,
.spanny .shop-btn-home:after{
  position: absolute;
  content: "Skateshops";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.spanny .shop-btn-home:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.spanny .shop-btn-home:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.spanny .shop-btn-home:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
