<div class="container-home">
  <video id="video" width="100%" height="100%" autoplay muted loop>
    <source src=<%= image_path("video.mp4")%> type=video/mp4>
    <%# <source src="" type=video/mp4> %>
  </video>
  <div class="overlay">
    <h2 class ="title-banner">Trouvez le spot Parisien qui vous fera vibrer</h2>
    <%= link_to "Skatespots", spots_path, class: "primary-button mr-5" %>
    <%= link_to "Skateshops", skateshops_path, class: "primary-button" %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Git-TM"><i class="fab fa-github"></i></a>
    <a href="https://www.malt.fr/profile/tristanmonteiro"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/tristan-monteiro/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Made with <i class="fas fa-heart"></i> in Paris by lilorphi & Soonam</p>
  </div>
</div>
