<div class="container pt-4">
  <%= simple_form_for [@spot, @spotphoto] do |f| %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file%>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
